.container {
  width: 100%;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d4949;
  gap: 44px;
}

.desc{
    font-size: 32px;
    color: #fff;
    font-family: 'Lora';
}
.box {
    width: 60%;
  display: flex;    
  justify-content: space-between;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    color: #fff;
}

.img{
    height: 48px;
    width: 48px;
    
}

.title{
    text-transform: uppercase;
}
