.container {
  width: 100%;
  height: 518px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
}

.imgRoom {
  width: 50%;
  object-fit: cover;
}

.box {
  width: 50%;
  padding: 36px 36px 36px 56px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
}
.title {
  font-size: 22px;
  font-family: "Montserrat";
}
.desc {
  font-size: 17px;
  font-family: "Montserrat";
  line-height: 160%;
}

.iconRoom {
  display: flex;
  gap: 10px;
  align-items: center;
}

.divider {
  border: 1px solid #bbbbbb;
  width: 100%;
}

.label {
  font-size: 17px;
  font-family: "Montserrat";
  line-height: 160%;
}

.price {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
}
.footer {
  display: flex;
  justify-content: space-between !important;
  align-items: flex-end;
  width: 100%;
}

.btn {
  background-color: #0d4949;
  color: #fff;
  width: 170px;
  height: 45px;
  font-size: 17px;
  font-family: "Montserrat";
  font-weight: 500;
}
