.container {
  width: 100%;
  height: 700px;
  display: flex;
  padding-top: 4rem;
}

.policy {
  width: 20%;
}
.box {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.secret {
  display: flex;
  gap: 3rem;
  align-items: start;
}

.img {
  width: 48px;
  height: 48px;
}

.infor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.desc {
  font-size: 17px;
  font-weight: 400;
  font-family: "Montserrat";
}

.item {
  padding-bottom: 2rem;
  border-bottom: 1px solid #757575;
}

/* nếu không muốn kẻ dưới item cuối */
.item:last-child {
  border-bottom: none;
}
