.container {
  display: flex;
  justify-content: center;
  margin: 6rem 0;
}

.box {
  width: 80%;
}

.title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;

  color: #0d4949;
}

.desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (max-width: 391px) {
  .container {
    width: 100%;
    margin: 4rem 0;
  }
  .title {
    font-size: 28px;
    margin-bottom: 1rem;
  }
  .desc{
    font-size: 13px;
    padding: 0;
    
  }
}
